<!DOCTYPE html>
<html>

<head>
    <title>详情页面</title>
    <% include head %>
</head>

<body>
    <%- include('bar',{username:username}) %>
    <div>
            <h1><%=data.title%></h1>
            作者：<%=username%>
            <%-data.content%>
    </div>
</body>

</html>